.sv_container {
    text-align: center;
}
.sv_ip-wrap {
margin: 10px;
}
.sv_ip-field{
    width: 200px;
    height: 30px;
}
.sv_btn{
    width: 200px;
    height: 30px;
}
.sv_btn-link{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
}